* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-style: normal;
}

li {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.container {
   max-width: 1100px; 
   margin: 0 auto;
}

.active {
    font-weight: 400;
}