
.advantages {
    margin-top: 100px;
    padding: 100px 0;
    background: url('./flawers.png') center center / cover no-repeat;

    &__card {
        padding: 45px;
        background-color: rgb(0, 0, 0, 40%);

        &-title {
            font-size: 60px;
            color: white;
        }

        &-list {
            margin-top: 40px;
        }

        &-item {
            margin-top: 10px;
            font-size: 25px;
            color: white;
        }

        
    }
}