
.form-section {
    padding: 50px 0;
    &__wrapper {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    &__title {
        font-size: 36px;
    }

    &__img {
        margin-top: 90px;
        width: 400px;
        height: 100%;
    }
}

.form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 500px;

    & > div {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__input {
        padding: 5px;
    }

    &__button {
        width: 140px;
        margin-top: 15px;
        padding: 10px 15px;
    }
}

